<%= simple_form_for(todo) do |f| %>
      <tr id="todo-<%= todo.new_record? ? "new" : todo.id %>">
        <td><%= f.input_field :description, maxlength: 20, placeholder: "enter a new task" %></td>
        <td><%= f.input_field :priority, placeholder: "priority"  %></td>
        <td><%= f.input_field :due_at, as: :string, class: "datepicker" %></td>
        <td><%= f.input_field :completed, as: :boolean %></td>
        <td><%= f.submit todo.new_record? ? "Create" : "Save" %></td>
        <td><%= f.submit "Delete" %></td>
      </tr>
<% end %>
